################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chatbot/.vs/Chatbot
/Chatbot/bin/Debug/net8.0
/Chatbot/obj
